@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sand: #f6f3ee;
  }
  html { font-family: Inter, ui-sans-serif, system-ui; }
  body { @apply antialiased bg-white text-stone-800; }
}

@layer utilities {
  .animate-in { animation-name: animateIn; animation-duration: 350ms; }
  .animate-out { animation-name: animateOut; animation-duration: 350ms; }
}
